@font-face {
    font-family:"inter";
    src: url(fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Open_sans" ;
    src: url(fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}    


:root{

 --dark-brown: hsl(25, 77%, 39%);
--lime-green: hsl(136, 65%, 51%);
--bright-cyan: hsl(192, 70%, 51%);
--grayish-blue: hsl(233, 8%, 62%);
--light-grayish-blue: hsl(220, 16%, 96%);
--very-light-gray: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);
--lightorange: hsl(29, 55%, 64%);

}

*{

    margin: 0px;
    padding: 0px;
}

body{

    display: flex;
    justify-content: center;
    height: 1300px;
}

#container{

    display: block;
    width: 900px;
  
    height: 100%;
}

#cajaImg{

    width: 100%;
    margin-top: 10px;
    border-radius: 30px;
    
    
}

#contenedorCarro{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    border: solid gray 1px;
    border-radius: 30px;
    align-items: center;
    
}

#imgProducto{

    height: 130px;
    width: 130px;
    padding: 10px;
}

#btnEliminarProducto{

    border: none;
    background: white;
    font-size: 20px;
}