@font-face {
    font-family:"inter";
    src: url(fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Open_sans" ;
    src: url(fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}    


:root{

 --dark-brown: hsl(25, 77%, 39%);
--lime-green: hsl(136, 65%, 51%);
--bright-cyan: hsl(192, 70%, 51%);
--grayish-blue: hsl(233, 8%, 62%);
--light-grayish-blue: hsl(220, 16%, 96%);
--very-light-gray: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);
--lightorange: hsl(29, 55%, 64%);

}

*{

    margin: 0;
    padding: 0;
}

.container{
  
    width: 2395px;
    height:1186px;
    background: var(--light-grayish-blue);
    justify-content: space-between;
    align-items: center;
    
}

#imagen{

    width: 2395px;
    height: 160px;
border: 3px solid black;
    background-image: url(/inicioPage/monarca1.jpg);


}