.playwrite-hu {
  font-family: 'Playwrite HU', cursive;
  font-weight: 300; 
}

:root{

 --dark-brown: hsl(25, 77%, 39%);
--lime-green: hsl(136, 65%, 51%);
--bright-cyan: hsl(192, 70%, 51%);
--grayish-blue: hsl(233, 8%, 62%);
--light-grayish-blue: hsl(220, 16%, 96%);
--very-light-gray: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);
--lightorange: hsl(29, 55%, 64%);
}

*{

    margin: 0;
    padding: 0;
}

body {
  font-family: 'Playwrite HU', cursive;
}
.container{
    width: 1800px;
    height: 800px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.formulario_up{
    
    width: 450px;
    height: 300px;
    text-align: center;
    font-family:"Open_sans" ;
    border-radius: 60px;
    background: linear-gradient(rgba(189, 8, 8, 0.164)) ;
    box-shadow: 10px 10px 8px #888888;
    background-image: url(./monarca1.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    padding-top: 100px;  
    
}



input{
    margin-top: 70px;
    margin-bottom: 20px;
    height: 30px;
    width: 260px;
    text-align: center;
    border: 1px solid rgb(206, 83, 7);
    border-radius: 8px;
   
}

button{
    border: 1px solid rgb(206, 83, 7);
    background: var(--lightorange);
    width: 200px;
    height: 40px;
    border-radius: 8px;
    margin-top: 30px;
}
